<!DOCTYPE html>
<html>
<head lang="de">
    <meta charset="UTF-8">
    <title>{% block title%}{% endblock %} - Cleverup</title>
    {% load staticfiles %}
    {% load bootstrap3 %}
    <link href="{% static 'vendor/bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <script src="{% static 'vendor/jquery/dist/jquery.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/dist/js/bootstrap.js' %}"></script>
    <script src="{% static 'vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.js' %}"></script>
    <script src="{% static 'js/script.js' %}"></script>
</head>
<body class="{% if not request.user.is_authenticated %}login-page{% endif %}">
{% load i18n %}
{% load menu %}{% generate_menu %}
{% if request.user.is_authenticated %}
<div class="navbar" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
               Cleverup
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                {% with menu=menus.main %}{% include "bootstrap-navbar.html" %}{% endwith %}
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="{% url 'frontend:logout' %}">{% trans 'Logout' %}</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
{% else %}
<div style="padding-top: 100px"></div>
{% endif %}

{% include "breadcrumbs.html" %}

{% if messages %}
<div class="container">
    {% bootstrap_messages %}
</div>
{% endif %}

{% block content %}{% endblock %}
</body>
</html>