{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Customers' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h3>{% trans 'Create new customer' %}</h3>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% load bootstrap3 %}
                <form action="{% url 'frontend:customers-list' %}" method="post" class="form-inline" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form layout='inline' %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Add' %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>

        <h3>{% trans 'Customers' %}</h3>
        <div class="row">
            <div class="col-xs-12 col-md-6">
            {% if customers %}
            <table class="table table-with-actions">
                {% for customer in customers %}
                    <tr>
                        <td>{{ customer.firstname }} </td>
                        <td>{{ customer.lastname }} </td>
                        <td>{{ customer.group }} </td>
                        <td class="list-actions">
                            <a href="{% url 'frontend:customers-edit' customer.id %}" class="btn btn-primary">
                                <span class="glyphicon glyphicon-edit"></span></a>
                            <a href="{% url 'frontend:customers-remove' customer.id %}" class="btn btn-danger">
                                <span class="glyphicon glyphicon-remove"></span></a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        {% else %}
            <p>{% trans 'No customers found' %}</p>
        {% endif %}
            </div>
        </div>
    </div>
{% endblock %}