{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Customers' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans 'Customer edit' %} {{ customer.firstname }} {{ customer.lastname }} </h1>
        {% load bootstrap3 %}
        <form action="{% url 'frontend:customers-edit' customer.id %}" method="post" class="form" novalidate>
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Update' %}
                </button>
            {% endbuttons %}
        </form>
    </div>
{% endblock %}