{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Groups' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{% trans 'Groups' %}</h1>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if groups %}
                    <table class="table table-with-actions">
                        {% for group in groups %}
                            <tr>
                                <td>{{ group.name }} </td>
                                <td class="list-actions">
                                    <a href="{% url 'frontend:groups-edit' group.id %}" class="btn btn-primary">
                                        <span class="glyphicon glyphicon-edit"></span></a>
                                    <a
                                            href="{% url 'frontend:groups-customer-add' group.id %}"
                                            class="btn btn-default">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </a>
                                    <a href="{% url 'frontend:groups-attendance' group.id %}" class="btn btn-default">
                                        <span class="glyphicon glyphicon-th-list"></span></a>
                                    <a
                                            href="{% url 'frontend:groups-attendance-report' group.id %}"
                                            class="btn btn-default">
                                        <span class="glyphicon glyphicon-eye-open"></span>
                                    </a>
                                    <a href="{% url 'frontend:groups-remove' group.id %}" class="btn btn-danger">
                                        <span class="glyphicon glyphicon-remove"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>{% trans 'No groups found' %}</p>
                {% endif %}
            </div>
        </div>

        <h2>{% trans 'Create new group' %}</h2>

        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% load bootstrap3 %}
                <form action="{% url 'frontend:groups-list' %}" method="post" class="form" novalidate>
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    {% buttons %}
                        <button type="submit" class="btn btn-primary">
                            {% trans 'Add' %}
                        </button>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}