{% extends "base.html" %}
{% load i18n %}

{% block title %}
    {% trans 'Payments' %}
{% endblock %}

{% block content %}
    <div class="container">
        <h2>{% trans 'Payments' %}</h2>
        <h3>{% trans 'New payment' %}</h3>
        {% load bootstrap3 %}
        <form action="{% url 'frontend:payments-list' %}" method="post" class="form-inline form-create" novalidate>
            {% csrf_token %}
            {% bootstrap_form payment_form layout='inline' %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                    {% trans 'Add' %}
                </button>
            {% endbuttons %}
        </form>

        <h3>{% trans 'Payment history' %}</h3>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                {% if payments %}
                    <table class="table table-with-actions">
                        {% for payment in payments %}
                            <tr>
                                <td>{{ payment.customer }}</td>
                                <td class="column-number">{{ payment.amount }}</td>
                                <td class="column-date">{{ payment.paid_at }}</td>
                                <td class="list-actions">
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    {% if payments.paginator.num_pages > 1 %}
                        {% bootstrap_pagination payments %}
                    {% endif %}
                {% else %}
                    <p>{% trans 'No payments found' %}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}